@import "~bootstrap/dist/css/bootstrap.min.css";
body{
  background-color: #ffffff;
  /* background-image: url("./home1.jpg"); */

}

.App{
  background-color: #565656;
  min-height: 500px;
  width:400px;
  margin: 80px auto;
  border-radius: 10px;
}

#to-do-form input{
  background-color: #f0f0f0;
  border: 0;
  width: 200px;
  height: 40px;
  padding: 0 20px;
  margin: 20px;
  border-radius:10px;
  font-size: 17px;
}

#to-do-form input::placeholder{
  color: #bbbbbb;
}

#to-do-form button{
  background-color: #00ac1d;
  color: #ffffff;
  border: 0;
  width: 100px;
  height: 40px;
  margin: 2px;

  border-radius: 10px;
  font-weight: bolder;

}

#to-do-form input:focus ,#to-do-form button:focus{
  outline: none;
} 

#to-do-form button:hover {
  background-color: #018d20;
  color: #ffffff;
  font-weight: bolder;
  
}
